@model MiniSPA.Models.ProductViewModel

@{
    ViewBag.Title = "Product Details";
}

<h2>@Html.DisplayFor(x => x.Name)</h2>
@if (!Model.InStock)
{
   <div class="alert alert-danger"><strong>Sorry!</strong> This item is currently out of stock.</div>
}
<p>@Html.DisplayFor(x => x.Description)</p>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Price)</dt>
    <dd>@Html.DisplayFor(model => model.Price)</dd>
</dl>

@using (Html.BeginForm("AddToCart", "Cart"))
{
    if (Model.Options.Any())
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Options)
            @Html.DropDownListFor(x => x.OptionId, new SelectList(Model.Options, "Id", "Name"), new { @class="form-control", id="optionSelect"})
        </div>
    }
    
    if (!string.IsNullOrEmpty(@Model.Image))
    {
        <div>
            <img id="productImage" src="../../Content/images/@Model.Image" />        
        </div>
    }
    if (Model.InStock)
    {
        <input type="submit" class="btn" value="Add to Cart" />
    }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#optionSelect').change(function () {
                alert('option changed to ' + $(this).val());
                $.ajax({
                    url: "/api/productImage/" + $(this).val(),
                    type: "Get",
                    success: function (data) {
                        $('#productImage').attr('src', "../../Content/images/" + data);
                    }
                });
            });
        });
    </script>
}