<!DOCTYPE html>
<html ng-app="@ViewBag.AngularModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS / ASP.NET Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AngularJS-ASP Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products-MVC", "Index", "ProductMvc")</li>
                    <li>@Html.ActionLink("Products-Angular", "Index", "ProductAngular")</li>
                    <li>@Html.ActionLink("Products-Rest", "Index", "ProductRest")</li>
                    <li>@Html.ActionLink("Products-Routing", "Index", "ProductRouting")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AngularJS / ASP.NET Demo.<span class="pull-right">St. Louis Days of .NET 2014</span></p>
        </footer>
    </div>
</body>
</html>
